.profile__edit-btn {
    background-image: url(../../../images/edit-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    box-shadow: none;
    outline:none; 
    color: #fff;
    width: 24px;
    height: 24px;
    border: 1px solid #fff;   
    grid-area: edit-button; 
    cursor: pointer; 
    align-self: center;
}

.profile__edit-btn:hover {
    opacity: .6;
    transition: .2s linear;
}