.header__logo {
    padding-top: 45px;
    align-self: start;
    margin-left: 2px;
}

@media screen and (max-width: 900px) {
    .header__logo {
        padding-left: 27px;  
    }
}

@media screen and (max-width: 500px) {
    .header__logo {
        padding-top: 28px;
        width: 103.74px;
        height: 24.4px;
    }
}