.profile__name {
    color: #fff;    
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 133%;
    margin: 0;  
    grid-area: name; 
    align-self: start; 
    /* user-select: none;   */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
}

@media screen and (max-width: 780px) {
    .profile__name {        
        text-align: center;
        margin-top: 10.25px;
    }
}

@media screen and (max-width: 380px) {
    .profile__name {        
        font-size: 27px;        
    }
}