.elements__like-btn {
    background-image: url(../../../images/like.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    min-width: 20.7px;
    min-height: 18.1px;
    align-self: center;
    cursor: pointer;
    box-shadow: none;
    border: none;
    padding: 0;   
    outline:none;
}

.elements__like-btn:hover {
    opacity: .6;
    transition: .2s linear;
}