.popup__container {
  height: 330px;
  max-width: 430px;
  width: 100%;
  background: #FFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 34px 36px 36.51px;  
  box-sizing: border-box;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

}

@media screen and (max-width: 500px) {
  .popup__container {        
    width: 75%;
  }
}

@media screen and (max-width: 360px) {
  .popup__container {        
    width: 70%;
  }
}