.elements__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-column-gap: 18px;
    grid-row-gap: 21px;  
    justify-content: center;    
}