.popup__close-btn {
    background-image: url(../../../images/closeIcon.svg);
    background-size: contain;
    position: absolute;
    top: -47px;
    right: -47px;
    width: 58px;
    height: 58px;
    cursor: pointer;
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding: 0;
    outline:none; 
  }
  
  .popup__close-btn:hover {
    opacity: .6;
    transition: .2s linear;
  }