@import url('./__title/popup__title.css');
@import url('./__form-input/popup__form-input.css');
@import url("./__error/popup__error.css");
@import url('./__error/_visible/popup__error_visible.css');
@import url('./__container/popup__container.css');
@import url('./_opened/popup_opened.css');
@import url('./__save-btn/popup__save-btn.css');
@import url('./__form-item/popup__form-item.css');
@import url('./__form-item/_type_error/popup__form-item_type_error.css');
@import url('./__close-btn/popup__close-btn.css');
@import url('./__full-image-figure/popup__full-image-figure.css');
@import url('./__full-image/popup__full-image.css');
@import url('./__caption/popup__caption.css');
@import url('./__save-btn/popup__save-btn_disabled.css');
@import url('./__input-container/popup__input-container.css');
@import url('./__container/_avatar/popup__container_avatar.css');
@import url('./__container/_delete/popup__container_delete.css');



.popup {
  transition: opacity .5s ease-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: visibility .3s, opacity 0.3s linear;
}